@{
    ViewBag.Title = "Edit";
}

<h2>Editare comentariu</h2>
<br />

<form method="post" action="/Reviews/Edit/@ViewBag.Review.Id">

    <label>Continut comentariu</label>
    <br />

    <textarea name="Content">@ViewBag.Review.Content</textarea>
    <br />

    <button class="btn  btn-primary" type="submit">Editeaza comentariul</button>

</form>

